/* Quicksand is from google font, embeded link in index.html */
* {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

/* The main title of each page (execept home page) */
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin: 80px 30px 50px 30px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  margin: 100px 30px 50px 30px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 10px 0px;
  text-align: left;
}

p {
  margin-left: 25%;
  margin-right: 25%;
}

button {
  border: none;
  padding: 15px 30px 15px 30px;
  background-color: #EDD9FF;
  font-weight: bold;
}

button:focus {
  outline: none;
}

iframe {
  margin: 3% 10% 3% 10%;
  width: 80vw;
  max-width: 560px;
}

a {
  color: black;
}

a:hover {
  color: #9B00AD;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loadingText {
  font-size: 25px;
  position: absolute;
  left: 40%;
  top: 45%;
  font-family: 'Press Start 2P', cursive;
}

.noUHover:hover {
  text-decoration: none;
}

.mr-2 {
  border: none;
}

.mr-2:focus {
  outline: 0;
}

/* The back to top button on the bottom right corver of some pages */
.backToTop {
  width: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* The icon next to buttons */
.buttonIcon {
  height: 25px;
  padding-left: 5px;
}

/* Home page main title */
.homeTitle {
  font-size: 6vh;
  margin: 5vh;
}

/* Home page sub title */
.homeSubtitle {
  font-size: 4vh;
  margin: 5vh;
  margin-bottom: 18vh;
}

/* Stacey's Avatar */
#avatar {
  border-radius: 50%;
  width: 25vh;
  margin: 10vh;
  margin-bottom: 5vh;
}

/* Signature image on NavBar */
.signature {
  width: 110px;
}

/* Menu Items in Naviation */
.navItem {
  font-family: 'Dancing Script', cursive;
  font-size: 300%;
  padding-bottom: 26vh;
  padding-left: 10vw;
  text-align: left;
}

.footer {
  background-color: #EDD9FF;
  height: 100px;
  width: 100%;
  position: absolute;
}

.socials {
  text-align: right;
}

.social {
  width: 7%;
  max-width: 35px;
  margin: 50px 20px 10px 2%;
}

.copyright {
  text-align: left;
  color: #796A7B;
  font-size: 12px;
  position: absolute;
  margin: 60px 0 10px 20px;
}

/* images of Stacey in the About me page */
.myPhoto {
  width: 200px;
  margin: 50px;
}

/* The experience section in About me page */
.experienceText {
  text-align: left;
  margin-left: 15vw;
  display: inline-block;
  width: 30%;
}

.experienceDate {
  text-align: left;
  font-size: smaller;
  color: #4E4D4D;
}

/* Illutrations in Experience section, About me page */
.expIll {
  display: inline-block;
  height: 120px;
  width: 50%;
  min-width: 100px;
  margin: auto;
  position: relative;
  top: -70px;
}

/* 2 columns grid layout */
.grid-container-2 {
  display: grid;
  grid-template-areas: 
    'col1 col2';
  grid-row-gap: 50px;
  margin: 0px 20% 0px 20%;
}

.interestsPic {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.projectPreview {
  text-align: left;
  display: inline-block;
  margin: 30px;
  width: 300px;
}

.projectPreviews {
  margin-bottom: 50px;
}

/* The preview image of projects, on Portfolio page */
.previewImg {
  width: 300px;
}

/* For the portfolio project preview page and the project page */
.projectText {
  text-align: left;
}

.fields {
  font-weight: bold;
}

/* To the project's github page in project pages */
.githubButton {
  width: 225px;
  background-color: #E1E1E1;
}

/* The "Go back" button from project to portfolio pahge */
.goBack {
  margin: 20px;
  text-align: left;
}

.backArrow {
  width: 35px;
}

.unlinkedButton {
  text-decoration: line-through;
}

.unlinkedButton:hover {
  text-decoration: line-through;

}

.coloredLink {
  color: #9B00AD;
  text-decoration: underline;
}

.coloredLink:hover {
  color: yellow;
}

/* Contact form */
form {
  display: inline-block;
  text-align: left;
  margin: 50px 10px 0 10px;;
}

input, textarea {
  border: 1px solid#BD74FE;
  border-radius: 10px;
  width: 18vw;
  max-width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
}

textarea {
  width: 27vw;
  max-width: 300px;
  height: 100px;
  padding: 10px;
}

input:focus, textarea:focus {
  outline: none;
  border: 1.5px solid yellow;
}

/* The image on the side of the contact me form */
.contactMeImg {
  position: relative;
  top: -200px;
  width: 30%;
  max-width: 300px;
  margin: 50px;
  filter: drop-shadow(20px 20px 0 #EDD9FF);
}

/* The red required symbol after each field in contact form */
.required:after {
  content: "  *";
  color: red;
}

/* The text "connect with me on socials" */
.socialsText {
  text-align: right;
  margin-right: 200px;
}

/* Tbe "connect with me on socials" arrow */
.curlyArrow {
  width: 100px;
  transform: rotate(20deg);
}

/* Small screen display (like mobile) */
@media only screen and (max-width: 570px) {
  h1 {
    font-size: 75px;
    margin: 70px 30px 50px 30px;
  }

  p {
    margin-left: 15%;
    margin-right: 15%;
  }

  .navItem {
    padding-bottom: 18vh;
  }

  .homeSubtitle {
    font-size: 30px;
    margin-bottom: 80px;
  }

  .contactMeImg {
    top: 0;
    width: 300px;
  }

  button {
    font-size: 13px;
  }

  .experienceText {
    width:80%;
    margin: 0 10px;
  }

  .expIll {
    margin-top: 50px;
    margin-bottom: 100px;
    top: 0;
  }

  input {
    width: 250px;
  }

  textarea {
    width: 300px;
  }
}











